@model CompetenceAppM152.Client.UI.Web.VieModels.GalleryPicturesViewModel
@using CompetenceAppM152.Common.Models

@{
    ViewBag.Title = "ShowPictures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Gallery.Name</h2>
@Model.Gallery.Description

@{
    TempData["SelectedGallery"] = Model.Gallery;
    TempData["Pictures"] = Model.Pictures;
}

@Html.ActionLink("Bild hochladen", "ChooseNewPicture")

@foreach (Picture p in Model.Pictures)
{
    <div>
        <a href="@Url.Action("ShowPicture", new { id = p.Identifier })">
            <img src="@Url.Content("~/Content/app/img/" + Model.Gallery.Name + "/" + p.Path)?width=200" alt="@p.Path" />
        </a>
        <br />
    </div>
    <br />
    }

    @if (Model.Pictures.Count <= 0)
{
        <div>
            <p>Kein Bild vorhanden.</p>
        </div>
}

@Html.ActionLink("Back to Overview", "Index")